html{
	font-size: 10px;
}

.m-menu{
	display: none;
}

#thirty-form label#user_name-error{
	font-size: 2rem;
	color:orange;
	margin-top: -2rem;
}

#thirty-form label#user_phone-error{
	font-size: 2rem;
	color:orange;
	margin-top: -2rem;
}

#first-form{
	position: relative;
}

#first-form label#user_name-error{
	font-size: 2rem;
	color:orange;
	margin-top: 11%;
	position: absolute;
	margin-left:-220px ;

}

#first-form label#user_phone-error{
	font-size: 2rem;
	color:orange;
	margin-top: 11%;
	position: absolute;
	margin-left:-220px ;

}

#second-form{
	position: relative;
}

#second-form label#user_name-error{
	font-size: 2rem;
	color:red;
	margin-top: 2%;
	position: absolute;
	margin-left:-220px ;

}

#second-form label#user_phone-error{
	font-size: 2rem;
	color:red;
	margin-top: 2%;
	position: absolute;
	margin-left:-220px ;

}
   

body{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	}

body input:focus{
	color:black;
	background-color: white;
}

/*------------------шапка и меню-------------------*/
.header{
	height: 13rem;
	padding-top: 22px;
	padding-bottom: 22px;
}

.header__question, .footer__question{
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 16px;
}

.header__tel, .footer__tel{
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 6px;
}

.header__email, .footer__email{
	margin-bottom: 10px;
	padding-left: 37%;
}
.header__email > a,.footer__email > a{
	font-size: 1.4rem;
	color:#368c02;
}


.button_red{
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	padding-right: 4rem;
	padding-left: 4rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 10px;
	color:#fff;
	outline: none;
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 box-shadow: 0px 5px 10px 0px rgba(0, 1, 3, 0.17);
 cursor: pointer;
 text-transform: uppercase;
}

.button_red:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
}

.menu{
	background-color: #12a001;
}

.menu__ol{
	display: flex;
	justify-content: space-between;
	list-style: none;
}


.menu__a{
	text-decoration: none;
	color: white;
	font-size: 1.9rem;
	font-weight: 400;
}

.menu__a:hover{
	border-bottom: 1px solid white;
}
  
/*<!----------------- Главный экран--------------*/
.section-main{
	height: 110vh;
	background: #fff url('../img/main-1/bg-1.png') no-repeat;
	/*выравниваю картинку по центру*/
	background-position-x: center;
	background-size: 120% 100%;
	text-align: center;
	min-height: 780px;

}

.section-main__title{
	padding-top: 8rem;
}

.title_green{
	background-color: #13A201;
	margin-right:auto;
	margin-left:auto;
	width: 45%;
	font-size: 3.5rem;
	color:#fff;
	margin-top: -22px;
	text-transform: uppercase;
	padding: 4px;
}

.part_2{
	width: 42%;
}

.section-main__text{
	font-size: 2.9rem;
	margin-bottom: 16rem;
}

.main-form{
	max-width: 641px;
	height: 301px;
	box-shadow: 0 0 20px #aeaeae;
	margin-right:auto;
	margin-left:auto;
	background-color: #fff;
	padding-top: 22px;

}

.main-form__title{
	font-size: 3rem;
	margin-bottom: 2rem;
}

.main-form__input{
	width: 261px;
	height: 56px;
	background-color: #F7F7F7;
	padding-left: 20px;
	outline: none;
	border:1px solid #aeaeae;
	margin: 5px;
	border-radius:5px;
	font-size: 1.6rem;
	color:#aeaeae;
}

.main-form__button{
	margin-top: 36px;
	padding-right: 8rem;
	padding-left: 8rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 10px;
	color:#fff;
	outline: none;
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 box-shadow: 0px 5px 10px 0px rgba(0, 1, 3, 0.17);
 cursor: pointer;
 text-transform: uppercase;
}

.main-form__button:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
}



/*<!-- section-2 about us -->*/

.section-2{
	padding-top: 3rem;
	padding-bottom: 3rem;
	height: 50vh;
	text-align: center;
	min-height: 500px;

}

.section__title{
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: 7.6rem;
}

.section-2__icon{
	border: 2px solid #13A201;
	/*сдвигаю внутри col-3 чтобы icon были ровно*/
	margin-left: 33%;
	width: 10rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.icon-descr{
	font-size: 1.8rem;
}

.icon-text_bold{
	font-weight: 700;
}

/*<!--------------- /.section-3 --------------------->*/

.section-3{
	background:url('../img/section-3/bg-2.jpeg');
	background-attachment: fixed;
	min-height: 590px;
	height: 70vh;
	background-size: cover;
	color:white;
	padding-top: 5rem;
	position: relative;
	z-index: 2;
}

.section-3__wrap{
height: 100%;
text-align: center;
padding: 30px 10px 30px 60px;
}

.section-3__title{
	font-size: 4.5rem;
	font-weight: 700;
	margin-top:0;
	margin-bottom:0;
}

.section-3__text{
	font-size: 3rem;
	margin-top: 10px;
	margin-bottom: 30px;
}

.section-3__subtitle{
	font-size: 2.2rem;
	margin-bottom: 40px;
}

.section-3__input{
width: 72%;
height: 50px;
margin-bottom: 10px;
padding-left: 20px;
font-style: italic;
border-radius: 5px;
outline:none;
}

.button_green{
width: 72%;
height: 50px;
background-color: #14AC01;
border-radius: 5px;
color:white;
outline:none;
cursor: pointer;
border: none;
}

/*---------------section-line---------------*/
.section-line{
	background-color: #AB2B0D;
	min-height: 120px;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	color: white;
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-transform: uppercase;

}

.section-line__span{
	background-color: #fff;
	color:#464646;
	border-radius: 5px;
	padding: 7px;
	box-shadow:0 0 5px #000;
}

.section-line__span_margin-left{
	margin-left: 20px;
}

.section-line__span_margin-rigth{
	margin-right: 20px;
}

/*<!--------------- /.section-4 --------------------->*/
.section-4{
	background-image:url('../img/section-4/Прямоугольник 6 копия 5@1X.jpeg');
	background-color: green;
	background-size:cover;
	background-repeat: no-repeat;
	padding-top: 5rem;
	text-align: center;
	padding-bottom: 4rem;
	min-height: 660px;
	max-height: 660px;
	position: relative;
	z-index: 2;

}

.section-4__title{
	margin-top: 0;
	color:#fff;
	margin-bottom: 1rem;
}
.section-4__subtitle{
	color:#fff;
	margin-bottom: 6rem;
	font-size: 1.8rem;
}

.slider-our__block{
min-width:420px;
max-width:480px;
}

.section-4__block{
	background-color: #fff;
	padding: 3rem 3rem;
	text-align: center;
	margin-right: 150px;
	max-height: 500px;
}

.img-mini__div{
	display: flex;
	align-items: center;
}

.img-mini__div img{
	margin-right: 1rem;
}

.img-mini__descr{
	font-size: 1.5rem;
}

.section-4__term{
	font-size: 2rem;
	margin-bottom: 2.5rem;
	margin-top: 1rem;
}
.section-4__price{
	font-size: 2rem;
	margin-bottom: 2.5rem;
}

/*<!----------- /.section-5 Reviews about us----------- -->*/
.section-5{
	padding-top: 4rem;
	padding-bottom: 4rem;
	min-height: 800px;
	
}

.section-5__block{
	display: flex;
	justify-content: space-around;
}

.section-5__block-img{
	margin-right: 2rem;
	border-radius:50%;
	
}

.section-5__block-img img{
	object-fit: fill;
}

.section-5__button{
	width: 120%;
}

.section-5__text{
	width: 70%;
}

.section-5__text-name{
	font-weight: 700;
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.section-5__text-reviews{
	width: 90%;
	margin-bottom: 3rem;
	font-size: 1.6rem;
}

.section-5__button{
	margin-bottom: 5rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 2px 2px 5px #0D7700;

}

/*<!---------------- /.section-production ---------->*/

.section-production{
	min-height: 540px;
	max-height: 540px;
	text-align: center;
	background-image: url('../img/section-production/techs.jpeg');
	background-color: transparent;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: 1.6rem;
	font-weight: 700;
	position: relative;
}

.slider-production__block{
	margin-right: 10px;
	margin-left: 10px;
}

.section-production .slider-production__block img{
	display: inline-block;
}

.slider-production__img-descr{
	margin-top: 6px;
	margin-left: -5%;
}

.arrows-prod__left{
	filter:invert(1);
	top: 42% !important;
	left: 4rem !important;
}
.arrows-prod__right{
	filter:invert(1);
	top: 42% !important;
	right: 4rem !important;
}


/*----------------section-8---------------------*/
.slider-catalog-8{
	width: 100%;
min-height: 1300px;
padding-top: 4rem;
padding-bottom: 4rem;
background-image: url('../img/slider-catalog-8/bg3.jpeg');
background-color: #000;
background-size: cover;
background-attachment: fixed;
position: relative;
z-index: 2;

}

.slider-catalog-8__title{
	color:#fff;
	font-weight: 700;
	margin-bottom: 4rem;
}

.slider{
	display: flex;
	width: 90%;
	margin: auto;

}

.slider__block{
	text-align: center;
}


.slider__cart{
	background-color: #fff;
	text-align: center;
	padding: 1rem 1rem 1rem 1rem;
	min-height: 450px;
	min-width: 231px;
	margin: 1rem;
	overflow: hidden;
	font-size: 1.5rem;
}

.slider__cart img{
	width: 100%;
	height: 230px;
	object-fit: contain;
	/* object-fit: cover; */
		}

	.slider__cart h4{
	margin-bottom: 3rem;
		}

.slider__cart-descr{
	margin-bottom: 1rem;
}

.slider-button{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
	margin-left: 1rem;
	box-shadow: none;
	border:none;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.5rem;
	}
/*класс для одной карточки чтобы текст выровнять*/
	.margin{
		margin-top: -1.9rem;
	}


	.arrows__left{
		position: absolute;
		top:49%;
		left: 20px;
		cursor:pointer;
		text-align: center;
		color:#333;
	}

	.arrows__left img{
		filter: invert(1);
		padding: 8px;
		opacity: 70%;
		padding-right: 3rem;
	}

	.arrows__left img:hover{
		background-color: rgb(161, 55, 143);
		opacity: 100%;
	}

	.arrows__right{
		position: absolute;
		top:49%;
		right: 20px;
		cursor:pointer;
		text-align: center;
		color:#333;
	}

	.arrows__right img{
		filter: invert(100%);
		padding: 8px;
		opacity: 70%;
		padding-left: 3rem;
	}

	.arrows__right img:hover{
		background-color: rgb(161, 55, 143);
		opacity: 100%;
	}

/*----------------------section-9---------------------------*/
.section-9{
	background-color: #fff;
	min-height: 701px;
	max-height:801px;
	overflow: hidden;
	padding-top: 4rem;
padding-bottom: 4rem;
position: relative;
background-color: #F4F4F4;
}

.arrows-2__left{
	top: 50%;
}

.arrows-2__right{
		top: 50%;
}

.arrows-2__left img{
		filter: invert(0);
		padding: 8px;
		opacity: 70%;
		padding-right: 3rem;
	}

	.arrows-2__right img{
		filter: invert(0);
		padding: 8px;
		opacity: 70%;
		padding-left: 3rem;
	}


.slider-2{
	display: flex;
	width: 90%;
	margin: auto;
}

.slider-2__cart{
	max-height: 580px;
	min-height: 570px;
}

.slider-2__cart img{
	min-width: 100%;
	/*height: 55%;*/
	object-fit: cover;
}

/*----------------------------------/section-10--------------------------------*/
.section-10{
	min-height:701px;
	max-height:801px;
	overflow: hidden;
	width: 100%;
	background:url('../img/section-candy-slider/Прямоугольник 6 копия@1X.jpeg');
	background-size: cover;
	background-attachment: fixed;
	padding-top: 6rem;
	padding-bottom: 6rem;
	position: relative;
	z-index: 2;
	
}

.section-10__title{
	margin-top:0;
	margin-bottom: 6rem;
	color:#fff;
}

.slider-3{
	display: flex;
	width: 90%;
	margin: auto;
}

.slider-3__cart{
	max-height: 550px;
	min-height: 530px;
}

.arrows-3__left{
	top: 50%;
}

.arrows-3__right{
		top: 50%;
}

.arrows-3__left img{
		filter: invert(1);
		padding: 8px;
		opacity: 70%;
		padding-right: 3rem;
	}

	.arrows-3__right img{
		filter: invert(1);
		padding: 8px;
		opacity: 70%;
		padding-left: 3rem;
	}

.slider-3__cart img{
	/*min-width: 100%;*/
	/*max-width: 100%;*/
	/*height: 55%;*/
	object-fit: fill;
}

/*----------------------------------/section-11--------------------------------*/
.section-11{
	min-height:701px;
	max-height: 801px;
	overflow: hidden;
	width: 100%;
	background-color:#F4F4F4;
	background-size: cover;
	padding-top: 6rem;
	padding-bottom: 6rem;
	position: relative;

}

.slider-4{
	display: flex;
	width: 90%;
	margin: auto;
}

.slider-4__cart{
	max-height: 550px;
	min-height: 530px;
}

.slider-4__cart img{
	object-fit: contain;
}

.section-11__title{
	margin-top:0;
	margin-bottom: 6rem;
	color:#000;
}

.arrows-4__left{
	top: 50%;
}

.arrows-4__right{
		top: 50%;
}

.arrows-4__left img{
		filter: invert(0);
		padding: 8px;
		opacity: 70%;
		padding-right: 3rem;
	}

	.arrows-4__right img{
		filter: invert(0);
		padding: 8px;
		opacity: 70%;
		padding-left: 3rem;
	}

	/*----------------------------------/section-map--------------------------------*/

	.section-map{
		min-height: 433px;
		width: 100%;
		position: relative;
	}

	.contacts{
		position: absolute;
		max-width: 70%;
		min-height: 37rem;
		z-index: 999;
		top: 10px;
		left: 90px;
		background-color: #fff;
		padding: 40px 63px;
	}

.contacts__title{
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 4rem;
}
.contacts__div{
	display: flex;
	width: 80%;
	margin-bottom: 3rem;
}

.contacts__div img{
	margin-right: 2rem;
	margin-top: -1rem;
	width: 3rem;
	height: 3.5rem;
}

.contacts__adress{
	font-size: 1.8rem;
}

.contacts__time{
	font-size: 1.8rem;
}

.contacts__phone{
	text-align-last: left;
	font-size: 1.8rem;
}

	/*----------------------------------/footer--------------------------------*/
	.footer{
		min-height: 127px;
		padding-top: 2rem;
	}

	#scroll{
		position: fixed;
		z-index: 91;
		right: 36px;
		bottom:30px;
		opacity: 0.6;
		background-color: #00FFFF;
		padding: 9px;
		border-radius: 50%;
		color:#fff;
	}

	#scroll img{
		width: 30px;
		filter:invert(0);
	}

	/*--------------modal window--------*/
.modal{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	display: none;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
}

.modal_active{
	display: flex;
}

.modal-dialog{
	background-color: #fff;
	padding: 50px 40px 30px 40px;
	/*min-width:30vw;*/
	/*max-width: 500px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	}

.modal-dialog__close{
	position: absolute;
	top:-40px;
	right: -40px;
	font-size: 5rem;
	background:transparent;
	border:none;
	outline:none;
	color:#ccc;
	cursor:pointer;
}


	.modal-dialog .modal-dialog__form{
		display: flex;
		flex-direction: column;
		/*justify-content: center;*/
		align-items: center;
		width: 60%;
}

.modal-dialog .modal-dialog__form input{
	margin-bottom: 3rem;
	padding: 1.2rem 5rem;
	/*width: 100%;*/
	outline:none;
	border:1px solid #aeaeae;
	border-radius:8px;
	font-size: 1.8rem;
	color:rgba(0,0,0,0.5);
	font-style: italic;
}

.modal-dialog__title{
	margin-bottom: 3rem;
	font-size: 1.9rem;
	text-align: center;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 0;

}

.modal-dialog__btn{
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	padding-right: 4rem;
	padding-left: 4rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 10px;
	color:#fff;
	outline: none;
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(227,0,0) 100%);
 box-shadow: 0px 5px 10px 0px rgba(0, 1, 3, 0.17);
 cursor: pointer;
 text-transform: uppercase;
}

.modal-dialog__btn:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(100,0,0) 3%, rgb(140,2,2) 5%, rgb(257,0,0) 100%);
}

	/*----------------mobile responsive-----------------------------*/
	@media(max-width: 1200px){
		/*header*/
		.header{
			min-height: 20rem;
			text-align: center;
		}

		.header img{
			margin-bottom: 2rem;
		}

/*section-2*/
.section-2{
	padding-top: 6rem;
	min-height: 680px;
	text-align: center;
}

/*---section-3---*/
.section-3{
		min-height: 630px;
}

/*--section-5*/
.section-5__button {
	width: 140%;
}

/*---section-10---*/
.section-10{
min-height: 650px;
}

.section-10 .slider-3__cart{
	min-height: 580px;
}

.slider-3__cart img{
height: 280px;
	}
.slider-our__block{
min-width:420px;
max-width:480px;
margin-right: 5rem;
margin-left: 5rem;
}

}

@media(max-width:992px){
	html{
		font-size: 8px;
	}
.header{
			min-height: 26rem;
			text-align: center;
		}
	.header__email, .footer__email{
	
	padding-left: 12%;
}

.slider-our__block{
min-width:380px;
max-width:420px;
margin-right: 5rem;
margin-left: 5rem;
}

.slider-production__block{
	margin-right: 4rem;
	margin-left: 4rem;
}
.slider-production__img-descr{
	margin-left: 0%;
}


.arrows-prod__left{
margin-top: -10%;
}
.arrows-prod__right{
margin-top: -10%;
}

.slider-3{
	width: 90%;
}

.slider-3__cart{
	max-height: 530px;
	min-height: 500px;
}

.slider-3__cart button{
	width: 60%;
	}

.slider-3__cart img{
	min-width: 90%;
	max-width: 90%;
	height: 59%;
	object-fit: fill;
}
.section-5__button {
    max-width: 80% !important;
}

.footer img{
	margin-bottom: 1.5rem;
}

}

@media(max-width: 620px){
		.slider-our__block{
min-width:340px;
max-width:420px;
margin-right: 5rem;
margin-left: 5rem;
}
	
}

@media(max-width: 770px){
	.header{
			min-height: 28rem;
			text-align: center;
		}

		.header img[alt*='logo']{
	width: 40%;
}

.modal-dialog{
	padding: 20px 10px 20px 20px;
}
.modal-dialog__form input{
	font-size: 1.5rem !important;
}

.modal-dialog__title{
	font-size: 1.5rem;
}

.section-main__title .title_green{
	margin-bottom: 3rem;
	font-size: 2.9rem;
}

		.menu__li{
			margin-right: 1rem;
		}

		.section-main{
	height: 100vh;
	/*выравниваю картинку по центру*/
	background-size: 100% 80%;
	text-align: center;
	min-height: 680px;
}

.section-main__text{
	margin-bottom: 10rem;
}

	.main-form{
	max-width: 551px;
	max-height: 301px;
}

.main-form__input{
	max-width: 30rem;
}

	.section-2{
		min-height:890px;
	}

	.section-2__icon{
	/*сдвигаю внутри col-3 чтобы icon были ровно*/
	margin-left: 42%;
}

.icon-descr{
	font-size: 1.8rem;
}

.icon-text_bold{
	font-weight: 700;
}

.footer{
	text-align: center;
	min-height: 30rem !important;
}

.footer img{
	margin-bottom: 1.5rem;
	width: 50%;
}

.slider__cart{
	padding: 1rem 2rem 1rem 2rem;
	/*min-height:auto;*/
	max-height: 490px;
	min-width: 151px;
	margin: 1rem;
	margin-bottom: 4rem;
	font-size: 2.5rem;
}

.slider__cart img{
	width: 70%;
	height: 230px;
	object-fit: fill;
	margin: auto;
		}

	.slider__cart{
	font-size: 2rem;

}

.slider-3__cart img{
    min-width: 60%;
}

.section-10 .slider-3__cart {
    min-height: 400px
}

.section-9{
		min-height: 801px;
		}

.arrows__left{
    left: 0 !important;
  }
    
  .arrows__right {
     right: 0 !important;
    }

  

/*---------------мобильное меню---------------*/
.visible-md{
	display: none !important;
}

.menu-link{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #333;
	border-radius: 15%;
	box-shadow: 1px 1px 10px rgba(45,85,5,0.4);
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 999909;
}

.menu-link span,.menu-link span::before,.menu-link span::after{
	display: block;
	height: 2px;
	width: 18px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	top:50%;
	margin-top: -1px;
}

.menu-link span::before{
	transition: all 1s;
	content:'';
	margin-top: -6px;
}

.menu-link span::after{
	transition: all 0.5s;
	content:'';
	margin-top: 4px;
}

.menu-link_active span{
background-color: transparent;
}

.menu-link_active span::before{
	transform: rotate(315deg);
	margin-top: 0;
}

.menu-link_active span::after{
	transform: rotate(-315deg);
	margin-top: 0;
}

.m-menu{
	position: fixed;
	top: 0;
	left: 0;
background: #72DC71;
background: -webkit-radial-gradient(center, #72DC71, #28F7C6);
background: -moz-radial-gradient(center, #72DC71, #28F7C6);
background: radial-gradient(ellipse at center, #72DC71, #28F7C6);
	width: 100%;
	height: 100vh;
	margin: 0;
	display: flex;
	font-size: 3rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
	z-index: 9999;
	transition:0.5s;
	transform:translateX(-100%);
}

.m-menu__li{
	list-style:none;
	margin-bottom: 3rem;
	padding: 15px 0px;
	width:inherit;
	cursor: pointer;
}

.m-menu_active{
	transform:translateX(0%) !important;
}

.m-menu__li:hover{
	background-color: #1FBA95;
}
.m-menu__li:focus{
	background-color: #1FBA95;
}

.m-menu__a{
	color:#fff;
	text-decoration: none;
	width: inherit;
}

.m-menu__a:hover{
	border-bottom:1px solid #fff ;
	}

	.m-menu__a:active{
	color:#ccc;
	}


/*---------------мобильное меню---------------*/
}

@media(max-width: 580px){
.main-form__input{
	height: 45px;
}

	.section-main{
	/*выравниваю картинку по центру*/
	background-size: 100% 40%;
	min-height: 680px;
}

.section-main__text{
	margin-bottom: 5rem;
}

.header{
			min-height: 25rem;
		}

.header img[alt*='logo']{
	width: 40%;
}

.footer img[alt*='logo']{
	width: 60%;
}


.section-main__title .title_green{
	font-size: 2rem
}

.section-main__text{
	font-size: 1.9rem;
	max-width: 40%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6rem;
}

.main-form{
	max-width: 45rem;
	min-height: 45rem;
	max-height: 60rem;
}

.slider{
	display: flex;
	width: 80%;
	margin: auto;
}

.slider__block{
	text-align: center;
}

.slider-catalog-8{
	min-height:1500px;
}

.slider__cart{
	padding: 1rem 2rem 1rem 2rem;
	min-height:590px;
	max-height: 590px;
	min-width: 151px;
	margin: 1rem;
	margin-bottom: 4rem;
	font-size: 2.5rem;
}

.slider__cart img{
	width: 70%;
	height: 230px;
	object-fit: fill;
	margin: auto;
		}

	.slider__cart h4{
	margin-bottom: 3rem;
		}

.slider__cart-descr{
	margin-bottom: 1rem;
}

.slider-button{
	margin-bottom: 4rem;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 2rem;
	}

	.slider-3__cart button{
		width: 80%;
	}

	.contacts{
		padding: 20px;
	}
}

@media (max-width: 420px){
	html{
		font-size: 7px;
	}

  .section-main {
    background-size: 100% 40%;
    min-height: 600px;
}

	.header{
			min-height: 24rem;
		}

  .section-2 {
      min-height: 750px;
  }

		.slider-our__block {
    min-width: 234px;
    max-width: 320px;
    min-height:500px;
}

.img-mini{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.arrows__left{
  left: 0 !important;
}

.arrows__right {
  right: 0 !important;
}

.arrows__left img{
  width: 60px !important;
}

.arrows__right img{
  width: 60px !important;
}

.section-5__button {
  max-width: 100% !important;
}

/* секция наше производство */
.section-production {
  min-height: 442px;
  font-size: 1.9rem;
}

.slider-production__img{
  max-width: 290px;
}

.slider-production__block{
  margin-left:2rem !important;
  /* margin-right: 2rem !important; */
} 

.arrows-prod__left{
  top: 90% !important;
}

.arrows-prod__right{
  top: 90% !important;
}

/* каталог искуственных елок */
.slider__cart img {
  object-fit: contain;
}

.slider-button {
  padding-top: 9px;
  padding-bottom: 9px;
  
}

.slider__cart h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.slider-catalog-8 .slider__cart{
  min-height: 490px;
  max-height: 490px;
  min-width: 151px;
  
}
}

.lock {
  overflow-y: hidden;
}

/*-----------------лишнее для jqery--------*/
.blue{
	background-color: blue;
	transform: skewX(20deg);
}

.red{
	background-color: purple;
}

.orange{
  background-color: orange;
}

.section-main{
  background-attachment:fixed;
}
