* {
  transition: all 0.5s;
}

body {
  font-family: "Proxima Nova", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
          user-select: none;
}

.active {
  background-color: aqua;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

form input:focus {
  outline: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Proxima Nova Bl";
  letter-spacing: 1.5px;
}

input {
  border: none;
}

@keyframes arrow {
  20% {
    transform: translateY(15px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-14px);
    animation-timing-function: ease-out;
  }
}
.animate {
  animation-name: arrow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.button_blue {
  background-color: #1669b3;
  padding: 21px 38px;
  color: #fff;
  font-family: "Proxima Nova Bl";
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
  text-transform: uppercase;
  position: relative;
}
.button_blue:hover {
  background-color: transparent;
}
.button_blue::before, .button_blue::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.button_blue::before {
  bottom: 0;
  left: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.button_blue::after {
  top: 0;
  right: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.button_blue:hover:before, .button_blue:hover:after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.button_blue:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.button_blue:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.button_blue:active {
  transform: translateY(-5px);
}

.button_orange {
  background-color: #f7b516;
  padding: 21px 38px;
  color: #000;
  font-family: "Proxima Nova Bl";
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
  text-transform: uppercase;
  position: relative;
}
.button_orange:hover {
  background-color: transparent;
  color: #f7b516;
}
.button_orange::before, .button_orange::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.button_orange::before {
  bottom: 0;
  left: 0;
  border-left: 2px solid #f7b516;
  border-top: 2px solid #f7b516;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.button_orange::after {
  top: 0;
  right: 0;
  border-right: 2px solid #f7b516;
  border-bottom: 2px solid #f7b516;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.button_orange:hover::before, .button_orange:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.button_orange:hover::before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.button_orange:hover::after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}

.form-block__input {
  padding: 23px 85px;
}

.section-icon_blue {
  background-color: #08243f;
  color: #fff;
}

.section__title {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Proxima Nova Bl";
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.section-icon__img {
  margin-bottom: 1rem;
}
.section-icon__img img {
  height: 80px;
}

.section-icon__descr {
  margin-bottom: 4rem;
}

.sections-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 99;
  transition: all 1.2s;
}
.modal-block {
  background-color: #103352;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #fff;
  position: fixed;
  max-width: 580px;
  padding-bottom: 15px;
  transition: all 1.2s;
  transform: translate(-50%, -250%) perspective(400px) rotateY(380deg);
}
.modal-block_active {
  transform: translate(-50%, -50%);
}
.modal-block__span {
  font-size: 0.8rem;
}
.modal-block__span a {
  color: orange;
}
.modal-block__btn {
  padding: 1rem 5rem;
  margin-bottom: 1rem;
}
.modal-block__title {
  background-color: #ffbc3c;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.modal-block__close {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  font-size: 3.2rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffff;
  cursor: pointer;
}

.form-wrap {
  padding: 2rem 1rem 1rem 1rem;
}
.form-wrap form input {
  padding: 1rem 3.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.close__link {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: underline;
}

.header {
  background-color: #191919;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  z-index: 4;
}
.header__time {
  font-size: 0.9rem;
}
.header__time b {
  display: block;
  margin-bottom: 10px;
}

.header-contacts__phone {
  font-family: "Proxima Nova Bl";
  font-size: 1.1rem;
}
.header-contacts__phone_margin {
  margin-bottom: 10px;
}

.main {
  height: 100vh;
  min-height: 650px;
  background: #103352 url("../img/main-section/main_img.webp") top right/cover no-repeat;
}
.main-block {
  background-color: #fce32e;
  width: 47%;
  padding: 6% 6% 6% 8%;
  overflow: auto;
  max-height: 730px;
}
.main-block__title {
  font-size: 2.2rem;
  font-family: "Proxima Nova Bl";
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.main-block__subtitle {
  margin-bottom: 3rem;
  font-size: 1.3rem;
}
.main-info {
  display: block;
  margin-bottom: 2rem;
}
.main-info__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
}
.main-info__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1rem;
}

.section-2 {
  padding-top: 110px;
  padding-bottom: 40px;
  min-height: 450px;
  background: #fff url("../img/section-2/section_2_img.webp") center center/cover no-repeat;
}
.section-2 h2 {
  text-align: right;
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
}

.form-block__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.form-block__form input {
  margin-bottom: 2rem;
}
.form-block__form input:nth-child(2n) {
  margin-left: 2rem;
}

.input_email {
  background: #f2f2f2 url("../img/section-2/envelope_(2)_66.png") 90% center no-repeat;
}

.input_tel {
  background: #f2f2f2 url("../img/section-2/call_answer_(4)_67.png") 90% center no-repeat;
}

input:disabled {
  background-color: transparent;
  outline: none;
}

.form-block__textarea {
  resize: none;
  margin-right: 2rem;
  background-color: transparent;
  font-size: 1.1rem;
  width: 46%;
  border: none;
  text-align: right;
  background: url("../img/section-2/clock_(12)_59.png") 90% 10px no-repeat;
  padding-right: 80px;
  font-weight: bold;
  color: #000;
  overflow: hidden;
}

.form-block__button {
  width: 46%;
  transition: 2s;
}
.form-block__button:hover {
  color: #000;
}
.form-block__button::before {
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.form-block__button::after {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.section-3__title, .section-4__title {
  font-size: 2rem;
  margin-bottom: 30px;
}
.section-3__subtitle, .section-4__subtitle {
  font-family: "Proxima Nova Lt";
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.section-4 {
  color: #fff;
  background: #103352 url("../img/section-4/section-4_img.webp") center center/cover no-repeat;
  min-height: 500px;
}
.section-4-form {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  height: auto;
}
.section-4-form__input {
  flex-basis: 23%;
  font-size: 1rem;
  padding: 1.3rem 0.7rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
}
.section-4-form__btn {
  width: 23%;
  margin-bottom: 1rem;
}
.section-4__div {
  margin-bottom: 1.7rem;
}

.section-4__phone {
  font-size: 1.9rem;
  letter-spacing: 2px;
}

.section-5 {
  min-height: 500px;
}
.section-5 .section-block__img {
  margin-bottom: 2.2rem;
}
.section-5 .section-block__descr {
  margin-bottom: 2rem;
}
.section-5 .section-block__link a {
  color: #000;
  font-family: "Proxima Nova Bl";
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  display: inline-block;
  margin-bottom: 1rem;
}

.section-6 {
  min-height: 400px;
}
.section-6 h2 {
  margin-bottom: 6rem;
}
.section-6-icon__img {
  border: 1px solid #fff;
  border-radius: 50%;
  max-width: 120px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.section-6-icon__img img[src="img/section-6/icon_3.png"] {
  height: 25px;
}
.section-6-icon__img img[src="img/section-6/icon_4.png"] {
  height: 33px;
}
.section-6 .col-lg-3 {
  margin-bottom: 2rem;
}

.section-7 {
  background-color: #103352;
  color: #fff;
}
.section-7__subtitle {
  margin-bottom: 6rem;
  font-family: "Proxima Nova lt";
}

.block-questions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.block-questions__div {
  text-align: left;
}
.block-questions__ol {
  list-style: none;
  line-height: 6rem;
  counter-reset: Counter;
  margin-bottom: 3rem;
}
.block-questions__ol li {
  text-decoration: underline;
}
.block-questions__ol li:hover {
  cursor: pointer;
  color: #f7b516;
}
.block-questions__ol li:before {
  counter-increment: Counter;
  content: counter(Counter);
  margin-right: 2rem;
  background: #fff;
  color: #000;
  padding: 10px 12px;
  box-shadow: 0px 0px 10px #000;
  font-weight: bold;
}
.block-questions__btn {
  color: #fff;
  background-color: transparent;
  margin-left: 9%;
  cursor: pointer;
  margin-bottom: 2rem;
}
.block-questions__btn a {
  display: inline-block;
  color: #fff;
  vertical-align: 5px;
  margin-left: 10px;
  font-weight: bold;
}

.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip::after {
  content: attr(data-answer);
  display: block;
  position: absolute;
  color: #ffff;
  width: 100%;
  height: auto;
  background-color: #000;
  font-size: 1rem;
  line-height: 14px;
  top: 65%;
  left: 50%;
  margin-left: -150px;
  font-family: "Proxima Nova Lt";
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(255, 188, 60, 0.7);
  transition: all 0.8s;
  opacity: 0;
}

.tooltip:hover::after {
  opacity: 1;
}

.tooltip:hover::before {
  opacity: 0;
}

.section-8 {
  min-height: 450px;
}
.section-8__subtitle {
  margin-bottom: 5rem;
}
.section-8__icon-img {
  margin-bottom: 2rem;
}
.section-8__icon-descr {
  margin-bottom: 1.4rem;
  font-size: 1.1em;
}

.section-9 {
  background-color: #103352;
  color: #fff;
  min-height: 500px;
}
.section-9__subtitle {
  font-size: 1rem;
  font-family: "Proxima Nova lt";
  margin-bottom: 6rem;
}

.section-10 {
  min-height: 500px;
}
.section-10__title {
  margin-bottom: 6rem;
}

.section-11 {
  background-color: #103352;
  color: #fff;
  min-height: 450px;
}
.section-11__title {
  font-size: 1.8rem;
}
.section-11__call {
  margin-bottom: 1rem;
}
.section-11__phone {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Proxima Nova";
}

.section-11-form__input {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.section-11-form__btn {
  color: #fff;
  letter-spacing: 1px;
  margin-left: 15px;
}

.section-12 {
  background: #fff url("../img/section-12/section_12_img.webp") center center/cover no-repeat;
  min-height: 370px;
}
.section-12__title {
  margin-bottom: 6rem;
  padding-top: 2rem;
}
.section-12__address {
  margin-bottom: 2rem;
}
.section-12__phone {
  font-size: 1.6rem;
}

.section-map {
  background-color: #08243f;
  min-height: 350px;
}
.section-map iframe {
  width: 100%;
  height: 360px;
  border: 0;
}

.footer {
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  min-height: 140px;
}

.contact-block span:first-child {
  margin-bottom: 0.8rem;
  display: inline-block;
}
.contact-block span:last-child {
  font-size: 1.4rem;
  font-family: "Proxima Nova Bl";
}

.footer__link {
  color: #ffffff;
  text-decoration: underline;
}

.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 40px;
  opacity: 0.6;
}
.arrow-up:hover {
  opacity: 0.99;
}
.arrow-up:focus-within {
  box-shadow: 0px 0px 5px #ffbc3c;
  border-radius: 50%;
}

.menu-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 5;
}
.menu-link span, .menu-link span::before, .menu-link span::after {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 50%;
  margin-top: -1px;
}
.menu-link span::before {
  transition: all 0.8s;
  content: "";
  margin-top: -10px;
}
.menu-link span::after {
  transition: all 0.8s;
  content: "";
  margin-top: 7px;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span::before {
  transform: rotate(675deg);
  margin-top: 0;
}
.menu-link_active span::after {
  transform: rotate(-675deg);
  margin-top: 0;
}

.menu {
  background-image: linear-gradient(105.3deg, #1e276b 21.8%, #4d76dd 100.2%);
  text-align: center;
  font-size: 1.4rem;
  padding-right: 0;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  transform: translateY(-200%);
  position: fixed;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
}
.menu li {
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu li:last-child {
  margin-bottom: 0;
  display: inline-block;
  padding: 20px 90px;
}
.menu li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu li:last-child:hover {
  background-color: orange;
}
.menu li:last-child:hover a {
  color: black;
}
.menu a {
  color: #fff;
  letter-spacing: 1px;
}

.menu_active {
  transform: none;
  position: static;
}

@media (max-width: 990px) {
  .main {
    background: #103352 url("../img/main-section/main_img.webp") 50% 70%/cover no-repeat;
  }

  .main-block {
    width: 70%;
  }

  .section-4-form {
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
  }
  .section-4-form__input {
    padding: 1.3rem 6rem;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 14px;
  }

  .section__subtitle {
    margin-bottom: 3rem;
  }

  .section-2 {
    padding-top: 50px;
  }

  .button_orange {
    padding: 21px 58px;
  }

  .button_blue {
    padding: 21px 68px;
  }

  .form-block__button {
    width: 66%;
  }

  .section-4-form__btn {
    width: 43%;
  }

  .header__logo {
    margin-bottom: 1rem;
  }

  .header__time {
    margin-bottom: 1.2rem;
  }

  .form-block__form textarea {
    margin-bottom: 2rem;
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .header__phone {
    margin-bottom: 1.5rem;
  }

  .header__button {
    margin-top: 1rem;
  }

  .form-block__form {
    flex-direction: column;
  }
  .form-block__form input:nth-child(2n) {
    margin-left: 0;
  }

  .form-block__textarea {
    background: url("../img/section-2/clock_(12)_59.png") 90% 0px no-repeat;
  }

  .arrow-up {
    width: 60px;
    filter: invert(100%);
  }
}
@media (max-width: 476px) {
  .header {
    text-align: center;
  }

  .button_orange {
    padding: 15px 40px;
    margin-left: -1px;
  }

  .main {
    min-height: 400px;
    position: relative;
    background: #103352 url("../img/main-section/main_img.webp") 80% 70%/cover no-repeat;
  }
  .main-block {
    padding: 3% 5%;
    width: 90%;
    position: absolute;
    bottom: -220px;
    margin: auto;
    text-align: center;
  }
  .main-info {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
  .main-info__icon {
    margin-right: 35px;
    margin-left: 30px;
  }
  .main-block__title {
    margin-bottom: 1rem;
  }
  .main-block__subtitle {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .form-block__input {
    padding: 18px 40px;
  }

  .form-block__button {
    width: 96%;
  }

  .section-4-form__btn {
    width: 80%;
  }

  .section-2 {
    padding-top: 22rem;
  }

  .block-questions__ol {
    line-height: 4rem;
  }
  .block-questions__ol li::before {
    content: counter(Counter) " )";
    margin-right: 5px;
    margin-left: -28px;
    padding: 0;
    background-color: transparent;
    color: #fff;
  }

  .tooltip {
    line-height: 8rem;
  }
}
@media (max-width: 340px) {
  .main-info__icon {
    margin-right: 1px;
    margin-left: 1px;
  }

  .form-block__form textarea {
    width: 100%;
    min-height: 50px;
  }

  .menu-link {
    top: 16px;
    left: 10px;
  }
}